extends layout

block content
  if (!user)
    h1 Next Battle
    p Starts in #{battle.date}. There are #{battle.userCount} users participating.
    each user in battle.users
      p #{user}
    p #{battle.battleLog}
    p Please log in or register to participate!
    
  if (user)
    h1 #{user.username}
    .row
      .col-lg-6
        h2 Stats
        table.table
          tbody
            tr
              td 
              td 
                b Name
              td 
                b Armor
              td 
                b Damage
              td
                b Unequip
            tr
              td Helmet
                if(user.helmet.length>0)
                  td 
                    b #{user.helmet[0].name}
                  td #{user.helmet[0].armor}
                  td #{user.helmet[0].damage}
                  td
                    a.glyphicon.glyphicon-minus(href="/unequip/0")
                 else
                   td
                   td
                   td
                   td

            tr
              td Armor
                if(user.armor.length>0)
                  td 
                    b #{user.armor[0].name}
                  td #{user.armor[0].armor}
                  td #{user.armor[0].damage}
                  td
                    a.glyphicon.glyphicon-minus(href="/unequip/1")
                 else
                   td
                   td
                   td
                   td
            tr
              td Weapon
                if(user.weapon.length>0)
                  td 
                    b #{user.weapon[0].name}
                  td #{user.weapon[0].armor}
                  td #{user.weapon[0].damage}
                  td
                    a.glyphicon.glyphicon-minus(href="/unequip/2")
                 else
                   td
                   td
                   td
                   td
            tr
              td
                b Total
              td
              td
               p #{user.totalarmor}
              td
               p #{user.totaldamage}
              td

        a.btn.btn-lg.btn-danger.btn-block(href="/add-random/0") Add random tier 1
        a.btn.btn-lg.btn-danger.btn-block(href="/add-random/1") Add random tier 2
        a.btn.btn-lg.btn-danger.btn-block(href="/add-random/2") Add random tier 3

      .col-lg-6.trunk
        h2 Trunk
        table.table
          tbody.trunk
            tr
              td 
                b Name
              td
                b Type
              td 
                b Armor
              td 
                b Damage
              td
                b Equip
              each val in user.trunk
                tr
                  td #{val.name}
                  td #{val.type}
                  td #{val.armor}
                  td #{val.damage}
                  td
                    a.glyphicon.glyphicon-plus(href="/equip/#{val._id}")    


    .row
      .col-lg-6
        h2 Next Battle
        p Battle starts in #{battle.date}. There are #{battle.userCount} users participating.
        if (user.participating)
          p #{user.username} is participating in the upcoming battle.
          a.btn.btn-lg.btn-danger.btn-block(href="/un-participate") Leave
        if (!user.participating)
          p #{user.username} is not participating in the upcoming battle.
          a.btn.btn-lg.btn-success.btn-block(href="/participate") Join     
      .col-lg-6
        h2 Last battles
        each battle in user.battles
          p There were #{battle.userCount} users participating in a fight on #{battle.date}.
          p #{battle.battlelog}
