extends layout

block content
  if (!user)
    p Welcome to the world of Made Game yo.
  if (user)
    h1 #{user.username}
    .row
      .col-lg-6
        h2 Stats
        table.table
          tbody
            tr
              td Experience
              td #{user.experience}
              td
            tr
              td Strength
              td  #{user.strength}
              td
                if(user.experience>0)
                  a.glyphicon.glyphicon-plus(href="increase-strength")
      .col-lg-6
        h2 Battles
        if (user.participating)
          p #{user.username} is participating in the upcoming battle.
          a.btn.btn-lg.btn-danger.btn-block(href="/un-participate") Leave
        if (!user.participating)
          p #{user.username} is not participating in the upcoming battle.
          a.btn.btn-lg.btn-success.btn-block(href="/participate") Join

